#name {
  h1 {
    text-align: center;
    font-family: "Chivo", "HelveticaNeue", sans-serif;
    font-size: 4em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

#profile {
  p {
    font-size: 1.4em;
  }
}

.resume-thumbnail {
  width: 25%;
}

