$spitzgoby_blue:              #38BEC4;
$spitzgoby_blue_light:        #8EE4E8;
$spitzgoby_blue_dark:         #018C93;

$spitzgoby_purple:            #4A70CE;
$spitzgoby_purple_light:      #99B1EC;
$spitzgoby_purple_dark:       #103AA3;

$spitzgoby_yellow:            #FFC348;
$spitzgoby_yellow_light:      #FFDE9B;
$spitzgoby_yellow_dark:       #F3A300;

$spitzgoby_orange:            #FF9C48;
$spitzgoby_orange_light:      #FFC99B;
$spitzgoby_orange_dark:       #F37000;

$spitzgoby_background_color:  #f6f6f6;
$spitzgoby_text_color:        #333;
$spitzgoby_nav_text_color:    #666;

$github_brand_color:          #333;
$twitter_brand_color:         #55acee;
$linkedin_brand_color:        #0976b4;
$angellist_brand_color:       #000;