@import "../colors";

#video {
  margin-top: 1em;
}

.search-results {
  .input-group {
    margin-top: 1em;
  }

  ul {
    margin-top: 1em;

    .result {
      padding: 1em;
      margin: 0.5em;

      background-color: white;
      border: 1px solid #f0f0f0;

      .video-thumbnail {
        display:inline-block;
        width: 20%;
        //margin-top: 1em;
        //margin-right: 1em;
        vertical-align: top;

        img {
          padding-top: 5px;
        }
      }

      .info {
        display:inline-block;
        width: 70%;

        h3 {
          font-family: "HelveticaNeue", sans-serif;
          font-size: 1.4em;
          color: $spitzgoby_orange_dark;
        }

        p {
          font-size: 1.2em;
        }
      }

      &:hover {
        background-color: #f9f9f9;
        cursor: pointer;
      }

    }
  }
}
