@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "pages/colors";
@import "_nav";
@import "pages/blog";
@import "pages/project";
@import "pages/about";

.container {
  padding-left: 0;
  padding-right: 0;
}

body {
  background-color: #f6f6f6;
}

p {
  font-size: 18pt;
  font-family: 'Raleway';
}

footer p {
  text-align: right;
  font-size: 10pt;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #999;
}

a {
  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.link-blue {
  color: $spitzgoby_blue;
  &:hover {
    color: $spitzgoby_blue_dark;
  }
}
.link-orange {
  color: $spitzgoby_orange_dark;
  &:hover {
    color: $spitzgoby_orange;
  }
}
.link-purple {
  color: $spitzgoby_purple;
  &:hover {
    color: $spitzgoby_purple_dark;
  }
}

h1 > i.fa {
  font-size: 72pt;
}

p, h2, h3 {
  margin: 0px;
  padding: 5px;
}

h1, h2, h3, h4 {
  font-family: "HelveticaNeue-UltraLight";

  &.header-jumbo {
    font-size: 4em;
  }
  &.header-blue {
    color: $spitzgoby_blue_dark;
  }

  &.header-orange {
    color: $spitzgoby_orange_dark;
  }

  &.header-purple {
    color: $spitzgoby_purple_dark;
  }
}

code {
  font-family: 'Inconsolata';
}
